.toggle {
  position: absolute !important;
  left: 10px;
  top: 10px;

  @media (min-width: 768px) {
    left: auto;
    top: 10px;
    right: 15px;
  }

  & svg {
    font-size: 1.8em;
    fill: var(--c-accent);
  }
}
