
    /* COLLAPSE */
.collapse{
    font-size: 16px;
    color: inherit;
    width: 80%;
    box-sizing: border-box;
}
.collapse__caption {
    margin: 20px 0 10px 0;
    font-size: 1.3em;
}
.collapse__button svg{
    height: 1em;
    margin-left: 0.5em;
    fill: var(--theme-primary);
}
.collapse__button svg:focus{
    outline: 2px solid;
}
    .collapse__button{
        display: flex;
        justify-content: space-between;
        width: 100%;
        padding: .9em 0 .9em 1em;
        background: inherit;
        border: none;
        border-top: 2px solid var(--theme-primary);
        border-bottom: 2px solid var(--theme-primary);
        color: inherit;
        outline: none;
    }
    .collapse__inner-list {
        list-style-type: none;
        padding: 0;
    }
    .collapse__inner-item {
        padding: 5px 0;
        position: relative;
        text-align: center;
    }
    .collapse__inner-item:before {
        content: "\21aa";
        font-size: 1.2em;
    }

    .collapse__inner-link {
        color: inherit;
        text-decoration: none;
        font-size: 1.2em;
        text-transform: uppercase;
    }
    [aria-expanded="true"] .vert {
        display: none;
      }
    
      /* COLLAPSE MEDIA */
      @media(min-width: 576px){
        .collapse {
            width: 550px;
        }
        .collapse__inner-list {
            padding-left: 2em;
        }
    }