
.menu{
    display: none;
    background: #0e0e0e;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    right:0;
    z-index: 10;
    font-family: Nutino, sans-serif;
    font-size: 2rem;
    opacity: .95;
}
    .menu_social{
        width: 300px;
        margin-top: auto;
    }


    .social__item:nth-child(2):hover:after{
        content: attr(data-title);
        position: absolute;
        right: -50px;
        top: -50px;
        width: 270px;
        color: white;
        font-size: 25px;
    }



    .menu__list{
        margin-top: 60px;
        list-style: none;
        display: flex;
        flex-direction: column;
        height: 80%;
        justify-content: flex-start;
        align-items: center;
        padding: 0;
    }

    .menu__link{
        color: #f7e5e5;
        font-weight: normal;
    }



.visible{
    display: block;
}