.social{
    list-style: none;
    font-size: 27px;
    display: flex;
    justify-content: space-around;
    padding: 0;
    min-width: 320px;
}
    .social__item{
        height: 3em;
        width: 3em; 
    }
    .social__link{
        display: block;
        height: 100%;
        transition: all .2s;
        outline: none;
    }
        @media screen and (min-width: 1200px){
            .social{
                font-size: 20px;
                min-width: 250px;
            }
        }