.timeline {
  border-left: 4px solid var(--theme-primary);
  margin: 30px auto;
  position: relative;
  padding: 2em;
  list-style: none;
  text-align: left;
  width: 90%;
  outline: none;
}
  .timeline__header {
    margin: 0;
  }
  .timeline__link {
    color: var(--theme-primary);
  }
  .timeline__item {
    border-bottom: 1px dashed var(--theme-primary);
    padding-bottom: 25px;
    margin-bottom: 50px;
    position: relative;
  }
  .timeline__item:last-of-type {
    padding-bottom: 0;
    margin-bottom: 0;
    border: none;
  }
  .timeline__item:after {
    content: "";
    background: var(--theme-bg);
    position: absolute;
    display: block;
    border-radius: 50%;
    height: 11px;
    width: 11px;
    top: 5px;
    left: -41px;
    border:2px solid var(--theme-primary);
    color: #333;
  }
  .timeline__description {
    padding: 0;
    margin: 5px 0 0 0;
    font-size: .8em;
  }
  .timeline__tag-item {
    font-size: .5em;
    background: var(--theme-primary);
    color: var(--theme-bg);
    padding: .1em .3em;
    border-radius: 3px;
  }