.container {
  font-family: var(--f-main);
  margin: 6rem auto 0 auto;
  padding: 0 10px;
  max-width: 1000px;

  & > h1,
  & > h3,
  & > h4,
  & > h5,
  & > h6 {
    color: var(--color-text-title);
  }

  & > span {
    color: var(--color-text-normal);
    font-size: 0.8rem;
    opacity: 0.8;
  }

  @media (min-width: 768px) {
    padding: 0 10px 0 50px;
  }
}

.rich {
  color: var(--color-text-normal);
  max-width: 1000px;
  margin-top: 3rem;

  & > h1,
  & > h2,
  & > h3,
  & > h4,
  & > h5,
  & > h6 {
    color: var(--color-text-title);
    margin: 0.5rem 0;
  }

  & ul {
    margin-left: 1.5rem;

    & li {
      list-style-type: initial;
      padding: 5px;
    }
  }

  & a {
    color: var(--color-text-normal);
  }

  & img {
    cursor: default;
    margin: 1rem 0;
  }

  & p {
    max-width: 1000px;
    margin-bottom: 0.3rem;

    & > img {
      width: 100%;

      @media (min-width: 1200px) {
        width: auto;
        max-width: 1000px;
      }
    }
  }
}
