.container {
  font-family: var(--f-main);
  margin-top: 8rem;
  padding: 0 10px;

  & > h1,
  & > h3,
  & > h4,
  & > h5,
  & > h6 {
    color: var(--c-accent);
  }

  & > span {
    color: var(--c-medium);
    font-size: 0.8rem;
  }

  @media (min-width: 768px) {
    padding: 0 10px 0 50px;
  }
}

.rich {
  color: var(--c-accent);
  max-width: 1200px;

  & p {
    max-width: 1000px;

    & > img {
      width: 100%;

      @media (min-width: 1200px) {
        width: auto;
        max-width: 1000px;
      }
    }
  }
}
