
@font-face{
    font-family: Nutino;
    src: url('../assets/Nunito-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face{
    font-family: Anton;
    src: url('../assets/Anton-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}



html{
    
    font-size: 16px;
    font-family: 'Nunito', sans-serif;
}
*:focus{
    border: 1px solid white;
    box-sizing: border-box;
}

