/* @font-face {
  font-family: 'Miriam Libre', serif;
  font-style: normal;
  font-weight: normal;
  src: local('Miriam Libre'),
    url('../fonts/MiriamLibre-Regular.woff2') format('woff2'),
    url('../fonts/MiriamLibre-Regular.woff') format('woff'),
    url('../fonts/MiriamLibre-Regular.ttf'),
    url('../fonts/MiriamLibre-Regular.eot') format('eot');
}
@font-face {
  font-family: 'Miriam Libre', serif;
  font-style: normal;
  font-weight: bold;
  src: local('Miriam Libre'),
    url('../fonts/MiriamLibre-Bold.woff2') format('woff2'),
    url('../fonts/MiriamLibre-Bold.woff') format('woff'),
    url('../fonts/MiriamLibre-Bold.ttf'),
    url('../fonts/MiriamLibre-Bold.eot') format('eot');
} */
