/* FOOTER */

.footer {
  bottom: 0;
  z-index: 8;
  flex-shrink: 0;
  overflow: hidden;
  text-align: center;

  @media (min-width: 576px) {
    font-size: 1em;
  }

  &__text {
    display: inline;
    margin: 0;
    font-size: 20px;
    color: var(--theme-primary);
  }
}
