/* FOOTER */

.footer {
  bottom: 0;
  z-index: 8;
  flex-shrink: 0;
  overflow: hidden;
  text-align: center;

  &__text {
    display: inline;
    margin: 0;
    font-size: 20px;
    color: var(--theme-primary);
  }
}

/* FOOTER MEDIA */

@media screen and (min-width: 576px) {
  .footer {
    font-size: 1em;
  }
}
