/* FOOTER */

.footer {
  position: fixed;
  width: 100%;
  bottom: 5px;
  text-align: center;
  font-size: 16px;
  text-align: center;
  z-index: 8;
}

.footer__text {
  color: var(--theme-primary);
  font-size: 1.3em;
  display: inline;
}

/* FOOTER MEDIA */

@media screen and (min-width: 576px) {
  .footer {
    font-size: 1em;
  }
}
