/* HAMBURGER */

.no-js .hamburger {
  display: none;
}

.hamburger {
  position: fixed;
  top: 20px;
  right: 15px;
  z-index: 11;
  box-sizing: border-box;
  display: inline-block;
  padding: 10px;
  margin: 0;
  overflow: visible;
  font: inherit;
  color: inherit;
  text-transform: none;
  cursor: pointer;
  background-color: transparent;
  border: 0;
  transition: transform ease 0.3s,
    opacity 0.2s;
}

.hamburger:hover {
  opacity: 0.8;
}

.hamburger-box {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 24px;
}

.hamburger-inner {
  top: 50%;
  display: block;
  margin-top: -2px;
}

.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
  position: absolute;
  width: 40px;
  height: 4px;
  background-color: var(--theme-primary);
  border-radius: 4px;
  transition-timing-function: ease;
  transition-duration: 0.15s;
  transition-property: transform;
}

.hamburger-inner::before,
.hamburger-inner::after {
  display: block;
  content: '';
}

.hamburger-inner::before {
  top: -10px;
}

.hamburger-inner::after {
  bottom: -10px;
}

.hamburger .hamburger-inner {
  transition-duration: 0.075s;
}

.hamburger .hamburger-inner::before {
  transition: top 0.075s 0.12s ease,
    opacity 0.075s ease;
}

.hamburger--squeeze .hamburger-inner::after {
  transition: bottom 0.075s 0.12s ease,
    transform 0.075s;
}

.hamburger.is-active .hamburger-inner {
  transition-delay: 0.12s;
  transform: rotate(45deg);
}

.hamburger.is-active .hamburger-inner::before {
  top: 0;
  opacity: 0;
  transition: top 0.075s ease,
    opacity 0.075s 0.12s ease;
}

.hamburger.is-active .hamburger-inner::after {
  bottom: 0;
  transition: bottom 0.075s ease,
    transform 0.075s 0.12s;
  transform: rotate(-90deg);
}

.hamburger.is-active:hover {
  opacity: 0.7;
}

.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
  background-color: var(--theme-primary);
}

.scroll-disable {
  overflow: hidden;
}
