/* HEAD */

.head {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 16px;

  &__header {
    margin: 0;
    font-family: var(--logo-font);
    font-size: 3em;
    letter-spacing: -3px;
  }

  &__caption {
    margin: 5px 0 20px 0;
    font-size: 1.3em;
    font-weight: normal;
  }
}

/* HEAD MEDIA */

@media screen and (min-width: 576px) {
  .head {
    font-size: 20px;
  }
}

@media screen and (min-width: 992px) {
  .head {
    font-size: 23px;

    &__caption {
      font-size: 0.9em;
    }
  }
}

@media screen and (min-width: 992px) {
  .head {
    padding-left: 10px;
    align-items: flex-start;
  }
}
