/* MENU */

.menu {
  display: none;
  background: var(--theme-bg);
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 10;
  font-size: 16px;
  overflow: hidden;

  &__container {
    max-width: 1300px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
  }

  &__list {
    padding: 0;
    margin-top: 5em;
    list-style-type: none;
  }

  &__item {
    text-align: center;
  }

  &__item:not(:first-child) {
    margin-top: 15px;
  }

  &__link {
    display: block;
    color: var(--theme-primary);
    font-weight: bold;
    padding: 10px 10px 0 10px;
    text-decoration: none;
    font-size: 3em;
    border-bottom: 3px dashed var(--theme-primary);
    position: relative;

    &:focus {
      outline: none !important;
    }

    &::before {
      content: attr(data-name);
      position: absolute;
      transition: opacity 0.2s;
      opacity: 0;
    }

    &:hover::before,
    &:focus::before {
      position: absolute;
      top: 13px;
      left: 14px;
      opacity: 0.7;
      color: var(--theme-accent);
      /* border-bottom: 3px dashed var(--theme-accent); */
      z-index: -1;
    }
  }
}

.visible {
  display: block;
}

@media screen and (min-width: 1200px) {
  .menu {
    width: 417px;
    display: block;
    position: absolute;
    right: -100%;
    transition: right 0.3s ease;
    border-left: 2px solid var(--theme-primary);
  }
  .visible {
    right: 0;
  }
}
