/* MENU */
.menu {
  display: none;
  background: var(--theme-bg);
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 10;
  font-size: 2rem;
}
.social__item:nth-child(2):hover:after {
  content: attr(data-title);
  position: absolute;
  right: -60px;
  top: -50px;
  width: 270px;
  color: var(--theme-primary);
  font-size: 25px;
}
.menu__list {
  margin: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
  padding: 50px 0 0 0;
  overflow-y: auto;
}

.menu__link {
  color: var(--theme-primary);
  font-weight: normal;
}
.visible {
  display: block;
}
