/* PAGE */

.page {
  position: relative;
  width: 100vw;
  overflow-x: hidden;
  font-family: var(--page-font);
  font-size: 16px;
  color: var(--theme-primary);
  background: var(--theme-bg);

  &__body {
    height: calc(var(--vh, 1vh) * 100);
  }
}

/* ALL ELEMENTS */

* {
  box-sizing: border-box;
}

*:focus:not([tabindex='-1']) {
  outline: none;
}

.disable-outline {
  outline: none !important;
}

@media screen and (min-width: 576px) {
  *:focus:not([tabindex='-1']) {
    outline: 4px solid var(--theme-accent);
    outline-offset: 2px;
  }
}
