/* PAGE */

.page {
  width: 100vw;
  position: relative;
  overflow-x: hidden;
  color: #ecdede;
  color: var(--theme-primary);
  background: #16141a;
  background: var(--theme-bg);
  font-family: 'Miriam Libre', sans-serif;
  font-family: var(--page-font);
  font-size: 16px;

  &__body {
    height: calc(var(--vh, 1vh) * 100);
  }
}

/* ALL ELEMENTS */
* {
  box-sizing: border-box;
}

*:focus:not([tabindex='-1']) {
  outline: none;
}

@media screen and (min-width: 576px) {
  *:focus:not([tabindex='-1']) {
    outline: 4px solid #02b9d5;
    outline-offset: 2px;
  }
}
