/* properties */

:root {
  --theme-bg: #16141a;
  --theme-primary: #ecdede;
  --theme-accent: #02b9d5;
  --logo-font: 'Miriam Libre', sans-serif;
  --page-font: 'Miriam Libre', sans-serif;
}

.light-mode {
  --theme-bg: #ecdede;
  --theme-primary: #16141a;
}
