/* properties */

:root {
  --theme-bg: #16141a;
  --theme-primary: #ecdede;
  --logo-font: 'Miriam Libre', sans-serif;
  --page-font: 'Miriam Libre', sans-serif;
}

[data-theme='day'] {
  --theme-bg: #ecdede;
  --theme-primary: #16141a;
}
