/* SOCIAL */

.social {
  display: flex;
  justify-content: space-around;
  padding: 0;
  font-size: 27px;
  list-style: none;
}

.social__item {
  position: relative;
  width: 3em;
  height: 3em;
  padding: 1px;
  transition: all 0.2s;

  &:nth-child(2):hover::after {
    position: absolute;
    top: -50px;
    right: -80px;
    width: 290px;
    font-size: 25px;
    color: var(--theme-primary);
    content: attr(data-title);
    filter: contrast(300%);
  }

  &:not(:first-child) {
    margin-left: 20px;
  }
}

.social__link {
  display: block;
  height: 100%;
  transition: opacity 0.2s;

  & > svg {
    width: 100%;
    height: 100%;
    fill: var(--theme-primary);
  }

  &:hover {
    opacity: 0.8;
  }
}

/* SOCIAL MIXES */

.menu_social {
  margin-top: auto;
}

.home_social {
  margin: 0;
}

/* SOCIAL MEDIA */

@media screen and (min-width: 1200px) {
  .social {
    min-width: 250px;
    font-size: 20px;
  }
}

@media screen and (min-width: 576px) {
  .page_secondary .switcher {
    display: block;
  }
}
