/* SOCIAL */

.social {
  list-style: none;
  font-size: 27px;
  display: flex;
  justify-content: space-around;
  padding: 0;

  &__item {
    height: 3em;
    width: 3em;
    position: relative;
    padding: 1px;
    transition: all 0.2s;

    &:hover {
      opacity: 0.8;
    }
  }

  &__item:nth-child(2):hover::after {
    content: attr(data-title);
    position: absolute;
    right: -80px;
    top: -50px;
    width: 290px;
    filter: contrast(300%);
    color: var(--theme-primary);
    font-size: 25px;
  }

  &__item:not(:first-child) {
    margin-left: 20px;
  }

  &__item svg {
    fill: var(--theme-primary);
  }

  &__link {
    display: block;
    height: 100%;
  }
}

/* SOCIAL MIXES */

.menu_social {
  margin-top: auto;
}

.home_social {
  margin: 0;
}

/* SOCIAL MEDIA */

@media screen and (min-width: 1200px) {
  .social {
    font-size: 20px;
    min-width: 250px;
  }
}

@media screen and (min-width: 576px) {
  .page_secondary .switcher {
    display: block;
  }
}
