/* SWITCHER */
.switcher {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 50px;
  height: 50px;
  padding: 2px;
  margin: 0;
  cursor: pointer;
  background: none;
  border: none;
  transition: opacity 0.2s;

  &:hover {
    opacity: 0.8;

    & span svg {
      fill: red;
    }
  }
}

.page_secondary .switcher {
  display: none;
}

.switcher .light,
.switcher .dark {
  display: none;
}

.switcher.switcher--light .light {
  display: block;
}

.switcher.switcher--light .light svg {
  fill: var(--theme-primary);
}

.switcher.switcher--dark .dark {
  display: block;
}

.switcher.switcher--dark .dark svg {
  fill: var(--theme-primary);
}

/* SWITCHER MEDIA */
@media screen and (min-width: 576px) {
  .switcher {
    top: auto;
    right: 20px;
    bottom: 20px;
    left: auto;
  }

  .page_secondary .switcher {
    display: block;
  }
}

@media screen and (min-width: 1200px) {
  .switcher {
    transition: transform 0.3s;
  }

  .switcher {
    transform: translateX(0);
  }

  .menu-on .switcher {
    transform: translateX(-417px);
  }
}
