/* SWITCHER */
.switcher {
  position: absolute;
  background: none;
  height: 50px;
  width: 50px;
  left: 20px;
  top: 20px;
  padding: 2px;
  margin: 0;
  border: none;
  cursor: pointer;
  transition: opacity 0.2s;

  &:hover {
    opacity: 0.8;
  }
}

.page_secondary .switcher {
  display: none;
}

.switcher .light,
.switcher .dark {
  display: none;
}

.switcher.switcher--light .light {
  display: block;
}

.switcher.switcher--light .light svg {
  fill: #ecdede;
  fill: var(--theme-primary);
}

.switcher.switcher--dark .dark {
  display: block;
}

.switcher.switcher--dark .dark svg {
  fill: #ecdede;
  fill: var(--theme-primary);
}

/* SWITCHER MEDIA */
@media screen and (min-width: 576px) {
  .switcher {
    left: auto;
    top: auto;
    right: 20px;
    bottom: 20px;
  }

  .page_secondary .switcher {
    display: block;
  }
}
