/* WORKS */
.works {
  font-size: 16px;
}
.works__list {
  height: calc(var(--vh, 1vh) * 100);
  display: flex;
  align-items: center;
  justify-content: center;

  list-style-type: none;
  padding: 0;
}
.works__item {
  border-top: 3px solid var(--theme-primary);
  width: 100%;
  max-width: 630px;
  padding: 2em 0 3em;
  position: relative;
}
.works__item:before {
  position: absolute;
  content: '';
  top: -2.4px;
  left: 0;
  height: 1.2em;
  width: 2.8em;
  background: var(--theme-bg);
  border-right: 3px solid;
}
.works__item:after {
  position: absolute;
  content: '';
  top: 0.8em;
  left: 2.55em;
  background: var(--theme-bg);
  height: 0.5em;
  width: 0.5em;
  border: 2px solid;
  border-radius: 50%;
}
.works__title {
  font-size: 2em;
  margin: 0;
}
.works__description {
  margin: 5px 0 0 0;
  font-size: 0.7em;
  max-width: 70%;
}
.works__link-list {
  list-style-type: none;
  margin: 10px 0 0 0;
  padding: 0;
  display: flex;
}
.works__link-item:not(:first-child) {
  margin-left: 20px;
}
.works__link {
  color: var(--theme-primary);
  padding: 3px 0;
  text-decoration: none;
  border-bottom: 2px dashed var(--theme-primary);
}
.works__link {
}
/* WORKS MEDIA */

@media screen and (min-width: 576px) {
  .works {
    font-size: 20px;
  }
  .works__description {
    font-size: 0.6em;
  }
}

@media screen and (min-width: 992px) {
  .works {
    font-size: 24px;
  }
}

@media screen and (min-width: 1200px) {
}
