.social {
  display: flex;
  justify-content: space-around;
  max-width: 300px;
  margin: 0 auto;

  @media (min-width: 768px) {
    justify-content: flex-start;
    margin-left: 1.5em;
  }

  & li:nth-child(3) svg {
    margin-left: -2px;
  }

  & a {
    height: 30px;
    width: 30px;
    display: block;
    padding: 10px;

    @media (min-width: 768px) {
      padding: 7px;
      height: 20px;
      width: 20px;
    }

    & svg {
      fill: var(--с-accent);
      height: 100%;
      width: 100%;
    }
  }
}
