.workList {
  font-family: var(--f-main);
  color: var(--c-accent);
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  margin-top: 7rem;
  padding: 0 0.5rem 2rem 0;
}
