nav( class="menu" id="menu" aria-hidden="true")
  .menu__container
    ul.menu__list
      li.menu__item
        a( data-name="Works" href="./works.pug" class="menu__link" tabindex="-1") Works
      li.menu__item
        a( data-name="About" href="./about.pug" class="menu__link" tabindex="-1") About
    ul( class="social menu_social")
      li.social__item
        a( href="https://vk.com/drimchansky" class="social__link" tabindex="-1")
          include ../img/vk.svg
      li(class="social__item" data-title="persoanl number? huh." tabindex="-1")
        include ../img/phone.svg
      li.social__item
        a( href="https://www.instagram.com/drimchansky/" class="social__link" tabindex="-1")
          include ../img/instagram.svg