nav( class="menu" id="menu")
  .menu__container
    ul.menu__list
      li.menu__item
        a( href="./works.pug" class="menu__link") Works
      li.menu__item
        a( href="./skills.pug" class="menu__link") Skills
    ul( class="social menu_social")
      li.social__item
        a( href="https://vk.com/drimchansky" class="social__link")
          include ../img/vk.svg
      li(class="social__item" data-title="persoanl number? huh.")
        include ../img/phone.svg
      li.social__item
        a( href="https://www.instagram.com/drimchansky/" class="social__link")
          include ../img/instagram.svg