nav( class="menu" id="menu" aria-hidden="true")
  div(style="display:none")
  .menu__container
    ul.menu__list
      li.menu__item
        a( data-name="Works" href="./works.pug" class="menu__link") Works
      li.menu__item
        a( data-name="About" href="./about.pug" class="menu__link") About
    ul( class="social menu_social")
      li.social__item
        a( href="https://vk.com/drimchansky" class="social__link")
          svg(xmlns:xlink="http://www.w3.org/1999/xlink")
            use(xlink:href="../img/vk.svg#vk")
      li(class="social__item" data-title="persoanl number? huh.")
          a(class="social__link")
            svg(xmlns:xlink="http://www.w3.org/1999/xlink")
              use(xlink:href="../img/call.svg#call")
      li.social__item
        a( href="https://www.instagram.com/drimchansky/" class="social__link")
          svg(xmlns:xlink="http://www.w3.org/1999/xlink")
            use(xlink:href="../img/instagram.svg#instagram")