meta( charset="utf-8")
meta( name="description" content="web dev" )
meta( name="viewport" content="width=device-width, initial-scale=1.0" )
link( rel="icon" href="../img/favicon.ico")
<link rel="dns-prefetch" href="//fonts.googleapis.com">
script
  include ../js/checkTheme.js
link( href="https://fonts.googleapis.com/css?family=Miriam+Libre:700&display=swap&text=DRIMchansky" rel="stylesheet")
link(rel='stylesheet', href='../styles/main.css')
<meta name="theme-color" content="#16141a">
link( href="https://fonts.googleapis.com/css?family=Miriam+Libre:400&display=swap&text=ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz" rel="stylesheet")
