meta( charset="utf-8")
meta( name="description" content="web dev addict" )
meta( name="viewport" content="width=device-width, initial-scale=1.0" )
link( rel="icon" href="../img/favicon.ico")
script(src="../js/checkTheme.js")
<link rel="preconnect" href="https://drimchansky.space">
<link rel="preconnect" href="https://drimchansky.space/works">
<link rel="preconnect" href="https://drimchansky.space/about">
link(rel='stylesheet', href='../styles/main.css')
link( href="https://fonts.googleapis.com/css?family=Miriam+Libre:400,700&display=swap" rel="stylesheet")