doctype html
html( lang="en" class="page")
  head
    title DRIMchansky
    include ./_meta.pug
    link( rel="icon" href="../img/favicon.ico")
    link(rel='stylesheet', href='../styles/main.css')






    script(src='../js/index.js')
