doctype html
html( lang="en" class="page")
  head
    title DRIMchansky
    include ./_meta.pug
    script
      include ../js/chrome-vh-fix.js
    body.page__body
      include ./_hamburger.pug
      include ./_menu.pug
      div.page__content
        main.head
          h1 DRIMchansky
          span  empty place of digital space
          ul( class="social home_social")
            li.social__item
              a( href="https://github.com/DRIMchansky" class="social__link")
                include ../img/github.svg
            li.social__item
              a( href="https://twitter.com/DRIMchansky" class="social__link")
                include ../img/twitter.svg
            li.social__item
              a( href="https://t.me/DRIMchansky" class="social__link")
                include ../img/telegram.svg
      include ./_footer.pug
      include ./_switcher.pug
      script(src='../js/index.js')
