doctype html
html( lang="en" class="page page page_secondary")
  head
    title DRIMchansky - Skills
    include ./_meta.pug
    script
      include ../js/chrome-vh-fix.js
    body.page__body
      include ./_hamburger.pug
      include ./_switcher.pug
      include ./_menu.pug
      .page__content
        include ./_logo.pug
        main.skills
          img(src="../img/fogg-page-not-found-1.png", alt="Page not found")
    include ./_footer.pug

        script(src='../js/index.js')