doctype html
html( lang="en" class="page page_secondary")
  head
    title DRIMchansky - Works
    include ./_meta.pug
    script
      include ../js/checkTheme.js
    script
      include ../js/chrome-vh-fix.js
    body.page__body
      include ./_hamburger.pug
      include ./_footer.pug
      include ./_menu.pug
      .container
        include ./_logo.pug
        main.works
          ul.works__list
            li.works__item
              h3.works__title Repair-design
              p.works__description vanilla HTML/CSS/JS with PostCSS, building using Parcel
              ul.works__link-list
                li.works__link-item
                  a(href="https://drimchansky.github.io/Repair-design/prod/" class="works__link") Webpage
                li.works__link-item
                  a(href="https://github.com/DRIMchansky/repair-design" class="works__link")  Source
            li.works__item
              h3.works__title Bakery
              p.works__description vanilla HTML/CSS/JS with PostCSS, building using Parcel
              ul.works__link-list
                li.works__link-item
                  a(href="https://drimchansky.github.io/Bakery/prod/" class="works__link") Webpage
                li.works__link-item
                  a(href="https://github.com/DRIMchansky/Bakery" class="works__link")  Source


        
        script(src='../js/index.js')
      include ./_switcher.pug