doctype html
html( lang="en" class="page")
  head
    title DRIMchansky - Works
    include ./_meta.pug
    script
      include ../js/chrome-vh-fix.js
    body.page__body
      include ./_hamburger.pug
      include ./_menu.pug
      include ./_switcher.pug
      include ./_footer.pug
      .container
        include ./_logo.pug



        script(src='../js/index.js')