.front {
  display: flex;
  align-items: center;
  min-height: 100vh;

  & > div {
    transform: translateY(-30%);
    padding: 0 1rem;

    @media (min-width: 982px) {
      padding-left: 4rem;
    }
  }
}

.introduce {
  font-family: var(--f-main);
  transition: color 0.2s;
  color: var(--color-text-normal);
  text-transform: uppercase;
  font-size: 0.9rem;
  letter-spacing: 3px;

  & > h1 {
    font-size: inherit;
    display: inherit;
    font-weight: 600;
    color: var(--color-text-title);
  }
}

.description {
  font-family: var(--f-title);
  color: var(--color-text-normal);
  transition: color 0.2s;
  font-size: 1.9rem;
  margin-top: 0.5rem;
}

.info {
  font-family: var(--f-main);
  transition: color 0.2s;
  color: var(--color-text-normal);
  padding-top: 0.7rem;
  display: block;

  & > a {
    color: var(--color-text-normal);
    transition: color 0.2s;
    font-size: 1.1rem;
  }
}
