.front {
  display: flex;
  align-items: center;
  transition: color 0.2s;

  & header {
    transform: translateY(-30%);
    padding: 0 1em;

    @media (min-width: 982px) {
      margin-left: 2em;
    }
  }

  & small {
    font-family: var(--f-main);

    color: var(--c-medium);
    text-transform: uppercase;
    font-size: 0.9em;
    letter-spacing: 3px;
  }

  & h1 {
    font-family: var(--f-title);
    color: var(--c-accent);

    font-size: 1.9em;
  }

  & p {
    font-family: var(--f-main);

    color: var(--c-medium);

    & a {
      color: var(--c-accent);
    }
  }
}
