.workList {
  font-family: var(--f-main);
  display: grid;
}

.workItem {
  width: 100%;
}

.image {
}

.date {
  display: flex;

  & span {
    margin-left: 5px;
  }

  & svg {
    width: 25px;
  }
}

.url {
  display: flex;

  a {
    margin-left: 5px;
  }

  & svg {
    width: 20px;
  }
}
