.workList {
  font-family: var(--f-main);
  color: var(--c-accent);
  width: 100%;
  margin-top: 30px;
}

.workItem {
  display: grid;
  justify-content: flex-start;
  margin-top: 50px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;

  @media (min-width: 1300px) {
    margin-left: 3rem;
  }
}

.header {
  grid-column: 1 / 3;
  align-self: flex-end;
  font-family: var(--f-title);
  font-size: 2rem;
  padding: 0 0 0 0.5rem;

  @media (min-width: 998px) {
    grid-column: 1 / 2;
  }
}

.info {
  display: flex;
  align-items: start;
  grid-column: 1 / 3;
  grid-row: 2 / 2;
  margin-top: 5px;
  padding: 0 0 0 0.5rem;

  @media (min-width: 998px) {
    grid-column: 1 / 2;
  }
}

.tags {
  grid-column: 1 / 3;
  grid-row: 3 / 3;
  display: flex;
  align-items: center;
  margin-top: 7px;
  padding: 0 0 0 0.5rem;

  @media (min-width: 998px) {
    grid-column: 1 / 2;
  }

  & li {
    padding: 2px 5px;
    border-radius: 6px;
    font-size: 0.9rem;
    background: var(--c-accent);
    color: var(--c-main);

    &:not(:first-child) {
      margin-left: 3px;
    }
  }
}

.text {
  grid-column: 1 / 3;
  grid-row: 4 / 4;
  align-self: stretch;
  padding: 0 0 0 0.5rem;

  @media (min-width: 998px) {
    grid-column: 1 / 2;
  }

  & p {
    margin: 0;
    padding: 1rem 0 1rem 0;
    line-height: 1.4;
    max-width: 400px;

    @media (min-width: 576px) {
      max-width: 550px;
    }
  }
}

.image {
  grid-column: 1 / 3;
  grid-row: 5 / 5;
  margin: 0 0.5rem;

  @media (min-width: 576px) {
    margin: 0 10%;
  }
  @media (min-width: 768px) {
    margin: 0 0.5rem;
  }
  @media (min-width: 998px) {
    grid-row: span 5;
    grid-column: 2 / 3;
  }
}

.date {
  display: flex;
  align-items: center;
  height: 100%;

  & span {
    margin-left: 5px;
  }

  & svg {
    width: 25px;
    fill: var(--c-accent);
  }
}

.url {
  display: flex;
  align-items: center;
  margin-left: 20px;
  height: 100%;

  a {
    text-decoration: none;
    color: var(--c-accent);
    background: var(--c-main);
    padding: 5px;
  }

  & svg {
    width: 20px;
    fill: var(--c-accent);
  }
}

.link {
  grid-column: 1 / 3;
  grid-row: 6 / 6;
  justify-self: end;
  padding: 10px 15px;
  background: var(--c-accent);
  color: var(--c-main);
  display: flex;
  align-items: center;
  align-self: center;
  text-decoration: none;
  margin: 1rem 1rem 0 0;
  font-size: 1rem;

  @media (min-width: 998px) {
    grid-column: 1 / 2;
    grid-row: 5 / 5;
  }

  & svg {
    width: 25px;
    fill: var(--c-main);
    margin-right: 7px;
  }
}
