.hamburger{
    position: relative;
    height: 40px;
    width: 40px;
    position: absolute;
    right: 20px;
    top: 20px;
    filter: drop-shadow(3px 3px 20px blue) saturate(1);
}
.hamburger:hover{
    cursor: pointer;
}
.hamburger:focus{
    filter: drop-shadow(3px 3px 25px blue) saturate(3);
}
.hamburger:hover::before{
    content: attr(data-title);
    position: absolute;
    right: 50px;
    top: 30px;
    width: 200px;
    color: white;
    filter: drop-shadow(3px 3px 25px blue) saturate(3);
    font-size: 25px;
}

    .hamburger svg{
        fill: white;
    }