.social{
    list-style: none;
    font-size: 27px;
    display: flex;
    justify-content: space-around;
    padding: 0;
    min-width: 320px;
}
    .social__item{
        height: 3em;
        width: 3em; 
    }
    .social__link{
        display: block;
        height: 100%;
        transition: all .2s;
        outline: none;
        filter: drop-shadow(3px 3px 15px blue) saturate(.5);
    }
    .social__link:hover,:focus{
        filter: drop-shadow(3px 3px 15px darkblue) saturate(2);
    }
        .social__github{
            
        }
        .social__twitter{

        }
        .social__telegram{

        }